.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.title-h1 {
  background-color: darkslateblue;
  color: #eee;
  margin: 0;
  padding: 1em 0;
}

.text-center {
  text-align: center;
}